.single_post_content {
    margin-top: 15px;
}

.single_post_content p {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #000000;
}

.single_post_content img {
    width: 100%;
    height: auto;
}