.textareaWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.textareaWrapper .textarea {
    width: 95% !important;
}

.textareaWrapper .error {
    width: 95% !important;
    border: 1px solid red !important;
}

.textareaWrapper span {
    color: red;
}

.inputWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.inputWrapper .input {
    width: 150px;
    margin-top: 15px;
}

.inputWrapper .error {
    width: 150px;
    margin-top: 15px;
}

.inputWrapper span {
    color: red;
}