.paginationBlock {
    display: flex;
    margin: 30px auto;
    justify-content: center;
    align-items: baseline;
}
.paginationBlockItem {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: black;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
}
.selectedPage {
    font-weight: bold;
}
