.dialogs_part h2 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 21px;
}

.dialogs_part .chat {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.dialogs_part .chat .dialogs {
    width: calc(23% - 15px);
}

.dialogs_part .chat .verticalHr {
    border: 2px solid #a5a9a3;
    height: auto;
}

.messages {
    width: calc(73% - 15px);
}

.dialogs_part .chat .messages .addNewMessage textarea {
    width: 100%;
    height: 50px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #000000;
    padding: 5px;
    border: none;
    outline: none;
}

.dialogs_part .chat .messages .addNewMessageBtn {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    margin-top: 15px;
    padding-bottom: 30px;
}

.dialogs_part .chat .messages .addNewMessageBtn button {
    margin-left: auto;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #ffffff;
    background: #50b5ff;
    padding: 7px 30px;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 5px;
}

.dialogs_part .chat .messages .addNewMessageBtn button:hover {
    background: transparent;
    border: 1px solid #50b5ff;
    color: #50b5ff;
    padding: 6px 29px;
}