.single_post {
    padding: 10px;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 0px 20px 0px rgba(44, 101, 144, 0.1);
    margin-top: 15px;
}

.single_post hr {
    margin-top: 15px;
    margin-bottom: 15px;
}